* {
	font-family: manrope-regular;
}

body {
	background-color: black;
	box-sizing: border-box;
	margin: 0;
	padding: 2rem;
	height: 100vh;
	min-height: 35rem;
	min-width: 25rem;
}

.flex {
	display: flex;
}

.flex-justify-center,
.flex-center {
	justify-content: center;
}

.flex-align-center,
.flex-center {
	align-items: center;
}

.flex-justify-right {
	justify-content: right;
}

.flex-column {
	flex-flow: column;
}

.flex-row-reverse {
	flex-flow: row-reverse;
}

.flex-wrap {
	flex-wrap: wrap;
}

#calc-body {
	box-shadow: 0 0 0 .25rem #cbdddf;
	background-image: linear-gradient(to bottom right, #252e2f, #171f20);
	border-radius: 0.5rem;
	box-sizing: border-box;
	height: 30rem;
	width: 25rem;
	padding: 1rem;
	gap: 1rem;
}

#calc-screen {
	max-height: 10rem;
	margin: 0.25rem;
}

#calc-screen > * {
	padding: 0 1rem;
	overflow-x: auto;
	font-family: manrope-bold;
}

#calc-screen :nth-child(1) {
	height: 40%;
	font-size: large;
}

#calc-screen :nth-child(2) {
	height: 60%;
	font-size: xx-large;
	font-weight: bold;
}

#calc-buttons button {
	font-size: 1.25rem;
	font-weight: 500;
	margin: 0.25rem;
	border: 0;
	border-radius: 0.25rem;
}

#calc-body > *,
#calc-buttons * {
	flex: 1;
}

#calc-digits {
	min-width: 60%;
}

#calc-digits button {
	min-width: 25%;
	color: #e3f6f9;
	background-image: linear-gradient(to bottom right, #646e6f, #354142);
	transition: 0.1s ease;
}

#calc-buttons button:hover {
	font-family: manrope-bold;
	box-shadow: 0 0 0 2px #e3f6f9;
	transition: 0.1s ease;
}

#calc-operators button {
	min-width: 40%;
	color: black;
	background-image: linear-gradient(to bottom right, #d5fdf5, #70808e);
}

#calc-operators :nth-child(1),
#calc-operators :nth-child(2) {
	background-image: linear-gradient(to bottom right, #f4e140, #ff7800);
}

#calc-operators :last-child {
	background-image: linear-gradient(to bottom right, #fd7828, #ff0024);
}

#former-expr {
	background-color: #b1c6c8;
	border-radius: .5rem .5rem 0 0;
}

#current-expr {
	background-color: #cbdddf;
	border-radius: 0 0 .5rem .5rem;
}
